#comic-container {
  background-color: white;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 0px #888888;
}

#speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: 0.4em;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #000;
  top: -30px;
}

#speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}

#speech-bubble:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-top-color: #000;
  border-bottom: 0;
  margin-left: -22px;
  margin-bottom: -20px;
}
